    .card {
        height: 340px;
        width: 340px;
        margin: 0;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        figcaption {
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 142.6%;

            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            padding: 20px;

        }
    }
