@use '../../Styles/variables' as var; 
 
 .card {
        width: clamp(335px, 53.97vw, 340px); // reste 340px jusqu'à 630px
        height: clamp(255px, 53.97vw, 340px);
        margin: 0;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        figcaption {
            color: var.$primary-text-color;
            font-family: var.$primary-font;
            font-size: 18px;
            font-weight: 700;
            line-height: 142.6%;

            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            padding: 20px;

        }
    }

    @media (max-width: 375px) {
        .card {
            width: 335px;
            height: 255px;
        }
    }