.rating {
    display: flex;
    font-size: 23px;
    gap: 15px;
}

.starEmpty {
    color: #E3E3E3;

}

@media (max-width: 375px) {

.rating {
    display: flex;
    font-size: 13px;
    gap: 6px;

}


}