.tags_container {

    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0 24px 0;


    p {
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background: #FF6060;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
  


    }
}