.footer {
    display: flex;
    justify-content: center;

    background-color: #000;
    padding: 50px 0;
    margin-top: 50px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 28.5px;
        justify-content: center;
        align-items: center;

        img {
            height: 40px;
            width: 122px;

        }
    }

    p {

        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 142.6%;
    }
}

@media (max-width: 375px) {
    .footer {
        height: 210px;
        padding: 0;

        &__container {
            gap: 20px;

            img {
                height: 40px;
                width: 122px;
            }
        }

        p {
            width: 133px;
            font-size: 12px;
        }
    }
}